header{
    background-color: antiquewhite;
    text-align: center;
    height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.one{
    background-color: #555;
    text-align: center;
    height: 350px;
    width: 120px;

}
.two{
    background-color: #f02323;
    text-align: center;
    height: 350px;
    width: 120px;
}
.tree{
    background-color: #23f049;
    text-align: center;
    height: 350px;
    width: 120px;
}
main{
    display: flex;
    height: 350px;
}
footer{
    
}